<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div><h1>Polistation</h1></div>
        <div id="lista">
        <a href="/jogos">Ver jogos</a>
        <a href="/profile">Profile</a>
        <a href="/profile">logout</a>
        </div>
    </header>
    <main>
        <div id="backblack">
            <div id="row">
                <div id="img"></div>
                <div>
                    <p>Nome</p>
                    <p>Data de registro</p>
                    <p>Email@hotmail.com</p>
                </div>
                <div>
                    <input style="display:none">
                    <input style="display:none">
                    <input style="display:none">
                </div>
            </div>
            <div>
                <button>Editar conta</button>
                <button>Apagar conta</button>
            </div>
        </div>
    </main>
</body>
</html>