header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
}

#header-title {
    margin-left: 10px;
}

#lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

.header-list {
    cursor: pointer;
    transition: all ease 0.3;
    width: 100px;
    transition: all ease 0.3s;
    align-items: center;
}

.header-list a, .header-list p {
    text-decoration: none;
    text-align: center;
    align-self: center;
    color: black;
    border: none;
    background-color: transparent;
}

.header-list:hover {
    background-color: #c4c4c4;
}