<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/navbar.css">
<body>

    <%- include('../includes/navbar') %>
    <div id="img">
        <h1></h1>
        <p id="produtora"></p>
        <div id="quadrado">
            <p id="genero">nome</p>
        </div>
        <div id="clickComBorder">
            <p>Adicionar à lista de desejos</p>
        </div>
        <div id="row"></div>
        <p>Data de lançamento:</p>
        <p>24/24/2024</p>
    </div>
</body>
</html>