<header>
    <div id="header-title">
        <h1>Polistation</h1>
    </div>
    <div id="lista">
        <div class="header-list">
            <a href="/games">Ver jogos</a>
        </div>
        <% if(user) { %>
        <div class="header-list">
            <a href="/users/getUser">Perfil</a>
        </div>
        <div class="header-list">
            <a href="/users/logout">logout</a>
        </div>
        <% } else { %>
        <div class="header-list">
            <a href="/home.html">Login</a>
        </div>
        <% } %>
    </div>
</header>