<header>
    <div id="header-title">
        <h1>Polistation</h1>
    </div>
    <div id="lista">
        <div class="header-list">
            <a href="/games">Ver jogos</a>
        </div>
        <% if(user) { %>
        <div class="header-list">
            <a href="/users/getUser">Perfil</a>
        </div>
        <div class="header-list">
            <form action="/users/logout" method="post">
                <button>logout</button>
            </form>
        </div>
        <% } else { %>
        <div class="header-list">
            <a href="/login.html">Login</a>
        </div>
        <% } %>
    </div>
</header>