<header>
    <div id="header-title">
        <h1>Polistation</h1>
    </div>
    <div id="lista">
        <div class="header-list">
            <a href="/games">Ver jogos</a>
        </div>
        <div class="header-list">
            <a href="/login.html">Entrar</a>
        </div>
    </div>
</header>