<header>
    <h1 id="nav-title">Polystation</h1>
    <nav>
        <ul>
            <li><a href="/games">VER JOGOS</a></li>
            <li><a href="/login.html">ENTRAR</a></li>
        </ul>
    </nav>
</header>